.profile {
    width: 30%;
}

.project {
    display: grid;
    grid-gap: 20px;
}

.right-align {
    grid-template-columns: 1fr 2fr;
}

.left-align {
    grid-template-columns: 1fr 3fr;
}

#heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#heading h1 {
    font-size: 64px;
    color: blue;
}